{% extends 'base_no_cart.html' %}

{% block title %}
    天天生鲜-购物车
{% endblock %}

{% block page_title %}
    购物车
{% endblock %}

{% block body %}
    <div class="total_count">全部商品<em>{{ total_count }}</em>件</div>
        <ul class="cart_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col02">商品单位</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
            <li class="col06">操作</li>
        </ul>

    <form action="/orders/place" method="post">
            {% for sku in skus %}
                <ul class="cart_list_td clearfix">
                    <li class="col01"><input type="checkbox" name="sku_ids" value="{{ sku.id }}" checked></li>
                    <li class="col02"><img src="{{ sku.default_image.url }}"></li>
                    <li class="col03"> {{ sku.name }}<br><em>{{ sku.price }}元/{{ sku.unit }}</em></li>
                    <li class="col04">{{ sku.unit }}</li>
                    <li class="col05">{{ sku.price }}元</li>
                    <li class="col06">
                        <div class="num_add">
                            <a href="javascript:;" class="add fl" sku_id="{{ sku.id }}">+</a>
                            <input type="text" class="num_show fl" sku_id="{{ sku.id }}" value="{{ sku.count }}">
                            <a href="javascript:;" class="minus fl" sku_id="{{ sku.id }}">-</a>
                        </div>
                    </li>
                    <li class="col07">{{ sku.amount }}</li>
                    <li class="col08"><a href="javascript:;">删除</a></li>
                </ul>
            {% endfor %}


    {% csrf_token %}
    <ul class="settlements">
		<li class="col01"><input type="checkbox" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total_amount"></em><br>共计<b>{{ total_count }}</b>件商品</li>
{#		<li class="col04"><a href="{% url 'orders:place' %}">去结算</a></li>#}
        <li class="col04"><input type="submit" value="去结算"></li>
	</ul>
    </form>
{% endblock %}

{% block bottom_js %}
    {% load staticfiles %}
    {% csrf_token %}

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>

        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        update_goods_amount();
        // todo:更新商品总数量和总金额
        function update_goods_amount() {
            // 获取checkbox选中的多个ul元素
            var total_count = 0,
                total_amount = 0;
            $('.cart_list_td').find(':checked').parents('ul').each(function () {
                // 获取当前选中商品的数量和小计金额
                var count = $(this).find('.num_show').val(),
                    amount = $(this).find('.col07').text();

                // count = parseInt(count);
                // amount = parseFloat(price) * count;

                // 累加总数量和总金额
                total_count += parseInt(count);
                total_amount += parseFloat(amount);

                console.log(total_amount);

            });
                // 显示总数量和总金额
                $('.total_count').children('em').text(total_count);
                $('.settlements').find('b').text(total_count);
                $('.settlements').find('em').text(total_amount.toFixed(2) + '元');
        }

        // todo:全选和全不选
        // change: 监听勾选状态的改变
        $('.settlements').find(':checkbox').change(function () {
            // 获取当前checkbox的勾选状态 attr('')获取自定义属性
            var is_checked = $(this).prop('checked');
            // alert(is_checked);
            // 设置每个商品的checkbox状态是is_checked
            $('.cart_list_td').find(':checkbox').each(function () {
               $(this).prop('checked', is_checked);
            });
            update_goods_amount();
        });

        // todo:设置全选checkbox的勾选状态
        // 给每个商品的checkbox设置状态监听
        $('.cart_list_td').find(':checkbox').change(function () {
            // 获取checkbox的总个数
            var checkbox_length = $('.cart_list_td').length;
            // 获取勾选的checkbox的总个数
            var checked_length = $('.cart_list_td').find(':checked').length;
            // 如果两者相等,则全选checkbox需要勾选上
            if (checkbox_length == checked_length){
                $('.settlements').find(':checkbox').prop('checked', true);
            }
            else {
                $('.settlements').find(':checkbox').prop('checked', false);
            }
            update_goods_amount();
        });

        // todo:更新单项商品的小计金额
        function update_single_amount(ul) {
            // 获取商品单价和购买数量
            var price = ul.find('.col05').text(),
                count = ul.find('.num_show').val();
            price = parseFloat(price);
            count = parseInt(count);
            // 小计金额
            var amount = price * count;

            ul.find('.col07').text(amount.toFixed(2) + '元');

        }

        // todo:点击加号
        $('.add').click(function () {
            // 获取当前商品的购买数量和商品id
            var count = $(this).next().val(),
                sku_id = $(this).attr('sku_id');
            count = parseInt(count) + 1;
            $(this).next().val(count);
            // alert(count + ' ' + sku_id + '  ' + csrf);

            // 定义csrftoken请求参数
            var params = {
                'sku_id':sku_id,
                'count':count,
                'csrfmiddlewaretoken':csrf
            };

            // 显示商品数量的input标签
            var $input = $(this).next();
            var $ul = $(this).parents('ul');

            // 通过ajax发起post请求
            $.post('/cart/update', params, function (result) {
                // 修改商品数量成功
                if (result.code == 0){
                    // todo:刷新界面
                    // 刷新当前新增商品的小计金额
                    update_single_amount($ul);
                    // 刷新界面左上角的商品总数量
                    $('.total_count').find('em').text(result.total_count);
                    // 刷新总金额和总数量
                    update_goods_amount();
                }
                else {
                    alert(result.errmsg);
                }
            });
        });

        // todo:点击减号
        $('.minus').click(function () {
            // 获取当前商品的购买数量和商品id
            var count = $(this).prev().val(),
                sku_id = $(this).attr('sku_id');
            // alert(count + ' ' + sku_id + '  ' + csrf);
            count = parseInt(count);

            if ( count <= 1){
                return
            }
            // alert(count);
            // 数量大于1才可以进行减操作
            count = count - 1;
            $(this).prev().val(count);
            // 定义post请求参数
            var params = {
                'sku_id':sku_id,
                'count':count,
                'csrfmiddlewaretoken':csrf
            };

            // 显示商品数量的input标签
            var $input = $(this).next();
            var $ul = $(this).parents('ul');

            // 通过ajax发起post请求
            $.post('/cart/update', params, function (result) {
                // 修改商品数量成功
                if (result.code == 0){
                    // todo:刷新界面
                    // 刷新当前新增商品的小计金额
                    update_single_amount($ul);
                    // 刷新界面左上角的商品总数量
                    $('.total_count').find('em').text(result.total_count);
                    // 刷新总金额和总数量
                    update_goods_amount();
                }
                else {
                    alert(result.errmsg);
                }
            });
        });

        // todo:origin_count用来记录编辑前商品数量
        var origin_count = 0;
        $('.cart_list_td').find('.num_show').focus(function () {
           origin_count = $(this).val();
        });

        // todo:手动输入商品数量
        // blur:监听失去焦点事件
        $('.cart_list_td').find('.num_show').blur(function () {

            // 获取当前商品数量
            var count = $(this).val();
            // 判断输入的合法性
            // if (不是数字 || 空字符串 || 数值 < 1)
            if (isNaN(count) || count.trim().length == 0 || parseInt(count) < 1){
                count = origin_count;
                $(this).val(count);
                return
            }

            var sku_id = $(this).attr('sku_id');
            // 定义post请求参数
            var params = {
                'sku_id':sku_id,
                'count':count,
                'csrfmiddlewaretoken':csrf
            };

            var $ul = $(this).parents('ul');

            // 通过ajax发起post请求
            $.post('/cart/update', params, function (result) {
                // 修改商品数量成功
                if (result.code == 0){
                    // todo:刷新界面
                    // 刷新当前新增商品的小计金额
                    update_single_amount($ul);
                    // 刷新界面左上角的商品总数量
                    $('.total_count').find('em').text(result.total_count);
                    // 刷新总金额和总数量
                    update_goods_amount();
                }
                else {
                    alert(result.errmsg);
                }
            });
        });

        // todo:删除商品
        $('.cart_list_td').children('.col08').children('a').click(function () {
            // 获取要删除的商品的id
            var sku_id = $(this).parents('ul').find('.num_show').attr('sku_id');

            // post请求参数
            var params = {
                'sku_id':sku_id,
                'csrfmiddlewaretoken':csrf
            };

            // 要删除的ul元素
            var $ul = $(this).parents('ul');

            // 发请求删除商品
            // 通过ajax发起post请求
            $.post('/cart/delete', params, function (result) {
                // 修改商品数量成功
                if (result.code == 0){
                    // todo:刷新界面
                    // 删除当前商品行
                    $ul.remove();
                    // 刷新总金额和总数量
                    update_goods_amount();
                }
                else {
                    alert(result.errmsg);
                }
            });
        })

    </script>
{% endblock %}