{% extends 'base_user_center.html' %}
{% block right_body %}
    <div class="right_content clearfix">
        <h3 class="common_title2">基本信息</h3>
        <div class="site_con">
            <ul >
                {% if address %}
                    <li>详细地址:{{ address.detail_addr }}</li>
                    <li>收件人:{{ address.receiver_name }}</li>
                    <li>收件人电话:{{ address.receiver_mobile }}</li>
                {% else %}
                    <li>当前地址：</li>
                    <li>无</li>
                {% endif %}
            </ul>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form method="post">
                {% csrf_token %}

                <div class="form_group">
                    <label>收件人：</label>
                    <input type="text" name="receiver">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea class="site_area" name="address"></textarea>
                </div>
                <div class="form_group">
                    <label>邮编：</label>
                    <input type="text" name="zip_code">
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input type="text" name="mobile">
                </div>

                <input type="submit" name="" value="提交" class="info_submit">
            </form>
            {# 显示报错信息 #}
            <div style="color: red">{{ errmsg }}</div>

        </div>
    </div>
{% endblock %}
